
body{
	background: $bg-color;
  font-family: 'Roboto', sans-serif;
}



.logo{
	font-size: 3vmin;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
	
	display: block;
	text-align: center;
	margin: auto;
	
	animation: logoAnimation 3s 3s 1;
}


@keyframes logoAnimation{
  0%{ //for 0sec
		color: $bg-color;		
    transform: scale(0.2) 
  }
  50%{ 	
    transform: scale(1.5)
  } 
	100%{ //for all sec
		color: $letters;		
    transform: scale(1)
  } 
}
