.edu-banner {
    padding: 25px 0;
    text-align: center;
    background-image: url("6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
* {
    
    box-sizing: border-box;
	    border-radius: 0;
}
.main{
	height=200px;
    padding: 10px 15px;
	 box-sizing: border-box;
	
}
.round2 {
  background-color:#D3D3D3;
   padding: 12px;
  border-radius: 5px;
  box-shadow: 5px 10px 13px #C0C0C0;
   
}


@media (min-width: 768px)
.container content {
    float: left;
    margin: 0;
}

div {
    display: block;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media screen and (max-width: 767px)
.table-responsive>.table-bordered>tbody>tr>td:first-child{
	    border-left: 0;
}
.table-bordered>tbody>tr>td{
	
	border: 3px solid #5A5A5A;
}
.table-condensed>tbody>tr>td{
	
	padding:5px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #5A5A5A;
}
a{
    outline: 0 !important;
}

@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 950px;
}
@media (min-width: 992px)
.main {
    width: 970px;
}
@media (min-width: 992px)
.main{
    width: 950px;
}
@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar {
    position: relative;
	
	
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
media (min-width: 768px)
.col-sm-12 {
    width: 100%;
}
@media (min-width: 768px)
.col-sm-12{
    float: left;
}
.nav{
    display: block;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.edu-banner .page-title-box {
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px 80px;
    display: inline-block;
}
.edu-banner .page-title-box h2 {
    font-size: 36px;
    color: #ffffff;
}
 h2 {
    margin-top: 0;
}
 h2{
    font-family: 'Varela Round', sans-serif;
    color: #111111;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    /* text-transform: uppercase; */
}
h2 {
    display: block;
   
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.edu-banner .page-title-box p a {
    color: #fff;
    margin: 0 5px;
    text-transform: uppercase;
    font-size: 16px;
}
a {
    /* color: #333; */
    display: block;
    outline: none;
    text-decoration: none;
   
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    
    cursor: pointer;
    
}
.edu-banner .page-title-box .fa {
    font-size: 18px;
    color: #ffffff;
    padding-left: 8px;
}
.edu-banner .page-title-box p i {
    display: inline-block;
    margin: 4px 6px 0px 6px;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
